.cm-btn-login {
   position: relative;
   background-color: var(--orange);
   color: white;
}

@media (min-width: 500px) {    
   .cm-btn-login {
      width: 100%;
      left: 0%;
   }
}

@media ( min-width : 768px) {
   .cm-btn-login {
      width: auto;
      left: 89%;
   }
}

@media ( min-width : 992px) {
   .cm-btn-login {
      width: auto;
      left: 90%;
   }
}
