.cm-user {
	width: 100vw;
	display: flex;
}

.cm-user {
	justify-content: flex-end;
	padding-right: 125px;
}

.cm-user-link:first-child {
	margin-right: 12px;
}

.cm-main-img{
	text-align: center;
}

.cm-main-img img{
	width: 290px;
}


.cm-user li {
	list-style-type: none;
}

.cm-user-link {
	text-decoration: none;
	color: black;
}

.cm-nav a{
	color: #212529;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 600;
}


.cm-user-link:hover {
	text-decoration: none;
	color: var(--brown);
}

.cm-nav a:hover {
	color: var(--orange);
}

.cm-icon-search{
    padding: 5px 0px;
}

